.flex {
  display: flex;


  &.center {
    align-items: center;
    justify-content: center;
  }

  &.acenter {
    align-items: center;
  }

  &.jccenter {
    justify-content: center;
  }

  &.btw {
    justify-content: space-between;
  }
}