// set the fonts
@font-face {
  font-family: "CooperHewitt";
  font-weight: bold;
  src: url("../fonts/CooperHewitt-Bold.woff") format("woff");
}

@font-face {
  font-family: "GTPressuraMono";
  src: url("../fonts/GTPressuraMono.woff") format('woff');
}


body {
  color: $blumine;
  font-family: "GTPressuraMono";
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "cooperhewitt", helvetica, arial, sans-serif;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-top: 0;
}